{
  "extends": [
      "eslint:recommended",
      "plugin:node/recommended"
  ],
  "rules": {
    "complexity": [
      "error",
      6
    ],
    "max-depth": [
      "error",
      3
    ],
    "max-nested-callbacks": [
      "error",
      3
    ],
    "max-statements": [
      "error",
      10
    ],
    "max-lines": [
      "error",
      150
    ],
    "no-process-exit": "off",
  }
}
